@charset "UTF-8";
/* CSS Document */

.loginWrapper { background: none repeat scroll 0 0 #FFFFFF;
    height: 830px;
    width: 530px;}


.loginWrapper .titulo{font-family: 'Montserrat', Arial; text-align:center; color:#87B425; padding-top:30px; font-size:18px;}
.loginWrapper .formBox { width:467px; margin:0 auto; margin-top:20px;}
.loginWrapper .link { float:left;font-family: 'Montserrat', Arial; font-size:11px; color:#87B425;}
.loginWrapper .leftBox { width:267px; float:left; margin-top: 21px;}
.loginWrapper .rightBox { width:200px; float:right}
.loginWrapper input {
background-image: url("../imagenes/fondo-form.png");
border: 1px solid #C6C6C6;
border-radius: 6px 6px 6px 6px;
height: 33px;
margin-bottom: 10px;
width: 455px;
font-family: 'Montserrat';
font-size: 14px;
padding-left: 10px;
}
.loginWrapper span {
color: #424242;
font-family: 'Montserrat';
font-size: 18px;
}

.loginWrapper .enviar2 {
background-image: url("../imagenes/bot-enviar.png") !important;
float: right;
border-radius: 0 !important;
height: 45px !important;
margin-bottom: 0 !important;
margin-top: 21px;
padding: 0 !important;
width: 132px !important;
}




.loginWrapper-subasta { background: none repeat scroll 0 0 #FFFFFF;
    height: 440px;
    width: 530px;}


.loginWrapper-subasta .titulo{font-family: 'Montserrat', Arial; text-align:center; color:#87B425; padding-top:30px; font-size:18px;}
.loginWrapper-subasta .formBox { width:467px; margin:0 auto; margin-top:20px;}
.loginWrapper-subasta .link { float:left;font-family: 'Montserrat', Arial; font-size:11px; color:#87B425;}
.loginWrapper-subasta .leftBox { width:267px; float:left; margin-top: 21px;}
.loginWrapper-subasta .rightBox { width:200px; float:left}
.loginWrapper-subasta input {
background-image: url("../imagenes/fondo-form.png");
border: 1px solid #C6C6C6;
border-radius: 6px 6px 6px 6px;
height: 33px;
margin-bottom: 10px;
width: 455px;
font-family: 'Montserrat';
font-size: 14px;
padding-left: 10px;
}
.loginWrapper-subasta span {
color: #424242;
font-family: 'Montserrat';
font-size: 18px;
}

.loginWrapper-subasta .enviar2 {
background-image: url("../imagenes/bot-enviar.png") !important;
float: right;
border-radius: 0 !important;
height: 45px !important;
margin-bottom: 0 !important;
margin-top: 21px;
padding: 0 !important;
width: 132px !important;
}