@charset "UTF-8";
/* CSS Document */
#b7{
    margin-right: 0px;
}
.menu-princ li {
    float: left;
    height: 40px;
    margin-right: 23px;
    margin-top: -25px;
    padding-top: 25px;
}


.busqueda {
    background-color: #B7B8B7;
    height: 16px;
    margin-left: 2px;
	padding-top:10px;
    opacity: 0;
    width: 252px;
	margin-top:-5px;
}

.ini-buscar {
    background-image: url("../imagenes/icono-flecha-right.png");
    height: 19px;
    margin-left: 5px;
    opacity: 0;
    width: 19px;
	margin-top:5px;
}
.mini-img img{
	border:0;
}

.slide-selector li {
    background-color: #000000;
    float: left;
    height: 236px;
    margin-right: 16px;
    padding: 5px;
    width: 166px;
}

.footer-autor {
    float: right;
    height: 40px;
    line-height: 40px;
    margin: -26px 12px 0 0;
    position: relative;
    width: 210px;
}
.links-lista img {
    float: left;
    margin-right: 8px;
    margin-top: -2px;
	border:0;
}
.rotulo-cont{
	margin-left: -880px;
}


.formulario-iz {
		float: left !important;
		margin-right: 51px !important;
	}