@charset "UTF-8";
/* CSS Document */
a{
	color:#FFFFFF;
}
.menu-princ{
	margin-left:-40px;
	 
}
.menu-princ li {
    float: left;
    height: 40px;
    margin-right: 28px; 
    margin-top: -50px;
    padding-top: 25px;
}
.pastilla{
	margin-top: 2px;	
}

.bot-buscar {
	margin-top:-35px;
}
.ini-buscar {
	margin-top: -10px;
}
.buscar{
	float: left;
    margin-top: 9px;
    margin-left: 0px;

}
.busqueda {
    background-color: #B7B8B7;
    height: 21px;
    margin-left: 265px;
	padding-top:5px;
    opacity: 0;
    width: 252px;
	margin-top:1px;
}
.campo-buscar {
    background-color: #4F5553;
    height: 0;
    margin-left: -261px;
    margin-top: 13px;
    position: absolute;
    width: 290px;
}
.ini-buscar {
    background-image: url("../imagenes/icono-flecha-right.png");
    height: 19px;
    margin-left: 5px;
    opacity: 0;
    width: 19px;
	margin-top:5px;
}
.mini-img img{
	border:0;
}

.slide-selector li {
    background-color: #000000;
    float: left;
    height: 236px;
    margin-right: 16px;
    padding: 5px;
    width: 166px;
}

.footer-autor {
    float: right;
    height: 40px;
    line-height: 40px;
    margin: -26px 12px 0 0;
    position: relative;
    width: 210px;
}
.links-lista img {
    float: left;
    margin-right: 8px;
    margin-top: -2px;
	border:0;
}


.menu-princ {
    float: left;
    font-family: 'Montserrat';
    font-size: 13px;
    margin-top: 73px;
}


.mini-txt2{
	filter:alpha(opacity=50);
	-moz-opacity:50;
	-khtml-opacity: 50;
	opacity: 0.5;
	font-family: 'Montserrat';
    font-size: 14px;
    margin-left: 16px;
    margin-top: 0;
	
}

.img-capa {
    background-color: #050E06;
    height: 100px;
    margin-top: -100px;
    filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 5;
    position: absolute;
    width: 310px;
	margin-left:-20px;
}
.rotulo-cont{
	margin-left: 0;
}
.img-capa{
	margin-left:0px;	
}
.area-img1 {
    border-bottom: 0 solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 417px;
	margin:0;
}
.area-img2 {
	margin:0;
}
.area-img3 {
	margin:0;
}
.area-img4 {
	margin:0;
}
.area-img5 {
	margin:0;
}
.area-b {
    background-image: url("../imagenes/area-b.jpg");
    height: 362px;
    width: 622px;
	margin-top:-362px;
	z-index:-1;
}
.area-a {
    z-index: 100;
}
.otrasSubBox {
    height: 149px;
    left: 0;
    position: relative;
    top: 0;
    width: 2000px;
}
.formulario-iz {
		float: left !important;
		margin-right: 30px !important;
	}