@charset "UTF-8";
/* CSS Document */

/* ------------------------------------------------------------------------------------------------------------Estilos para  Chrome y Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
     .menu-princ li {
		float: left !important;
height: 40px!important;
margin-right: 26px!important;
margin-top: -25px!important;
padding-top: 25px!important;
letter-spacing: 0px !important;

	}
	.menu-princ{
		width: 534px !important;
margin-left: 92px !important;
	}
	.buscar {
		float: left !important;
margin-top: 9px !important;
margin-left: -6px !important;
	}
	.noticias-slide li {
		margin-right: 0 !important;
	}
	.formulario-iz {
		float: left !important;
		margin-right: 51px !important;
	}
	.carga-bot{
		background-color: #13491E !important;
	display: inline-block !important;
	float: right !important;
	font-size: 14px !important;
	font-weight: bold !important;
	height: 15px !important;
	margin-left: 953px !important;
	margin-top: 179px !important;
	padding: 10px !important;
	position: absolute !important;
	text-align: center !important;
	}
	.registro-formulario-iz {
	float: left !important;
	margin-right: 40px !important;
	}
	.prodContentWrapper2 {
    margin-top: 0 !important;

	}
	.cont-contacto-form .formulario-iz {
		float: left;
		margin-right: 39px !important;
		width: 480px !important;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/


/* ------------------------------------------------------------------------------------------------------------------------------- GENERAL */


body{
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 auto;
	color:#fff;
	background-color: #050e06;
    background-image: url("../imagenes/malla.png");
	
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-regular.eot');
    src: url('fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular.woff') format('woff'),
         url('fonts/montserrat-regular.ttf') format('truetype'),
         url('fonts/montserrat-regular.svg#montserrat-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLT';
    src: url('fonts/helvetica_lt_55_roman.eot');
    src: url('fonts/helvetica_lt_55_roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_lt_55_roman.woff') format('woff'),
         url('fonts/helvetica_lt_55_roman.ttf') format('truetype'),
         url('fonts/helvetica_lt_55_roman.svg#helvetica_lt_55_roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaBT';
    src: url('fonts/tt0142m_.eot');
    src: url('fonts/tt0142m_.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt0142m_.woff') format('woff'),
         url('fonts/tt0142m_.ttf') format('truetype'),
         url('fonts/tt0142m_.svg#tt0142m_') format('svg');
    font-weight: normal;
    font-style: normal;
}
img{
	border:0;
}
ul{
	list-style:none;
}
p{
	margin:0;
}
a{
	text-decoration:none;
	color:inherit;
}
h1{
	margin:0;
	font-size:inherit;
	font-weight:inherit;
}
h2{
	margin:0;
	font-size:inherit;
	font-weight:inherit;
}
h3{
	margin:0;
	font-size:inherit;
	font-weight:inherit;
}
input{
	border: 0 none;
    padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#3F3F3F;
}
.clear{
	clear:both;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------- HEADER */

.header{
	background-color: #061608;
    background-image: url("../imagenes/malla.png");
    border-bottom: 1px solid #000000;
    height: 148px;
    width: 100%;
}
.header-cont{
	font-size: 14px;
    height: 148px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}

.header-cont .header-nav{
	padding-top: 3px;
}
.header-cont .header-nav-i{
	color: #FFFFFF;
    float: right;
    margin-bottom: 24px;
}
.header-cont .ayuda{
	 background-image: url("../imagenes/icono-ayuda.png");
    background-position: 59px 50%;
    background-repeat: no-repeat;
    float: left;
    height: 19px;
    padding-left: 15px;
    padding-top: 3px;
    width: 70px;
}
.header-cont .idioma {
     background-image: url("../imagenes/icono-flecha-down.png");
    background-position: 115px 50%;
    background-repeat: no-repeat;
    float: left;
    height: 19px;
    padding-left: 12px;
    padding-top: 3px;
    width: 122px;
}
.idioma-act{
	margin-bottom: 5px;
}
.op-lang{
	 height: 21px;
    margin-bottom: 6px;
    margin-left: -15px;
    margin-top: -6px;
    padding-left: 65px;
    padding-top: 4px;
    position: relative;
    width: 64px;
    z-index: 9999;
}
.ingresar{
	float:left;
}
.campo-ing{
	background-color: #4F5553;
    height: 0;
    margin-left: -132px;
    margin-top: 28px;
    position: absolute;
    width: 220px;
    z-index: 1001;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	display:none;
	
}
.campo-ing input{
	background-color: #B7B8B7;
    height: 26px;
    margin-left: 6px;
    margin-top: 7px;
    opacity: 1;
    width: 207px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.bot-ing{
	background-color: #FFFFFF !important;
    color: #333333 !important;
    float: left;
    margin-top: 18px !important;
    width: 70px !important;
}
.rec-cont {
    cursor: pointer;
    float: left;
    font-size: 10px;
    margin-top: -1px;
   filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
    text-align: center;
    width: 144px;
}
.rec-cont:hover{
	text-decoration:underline;
}

.reg-cont {
    cursor: pointer;
    float: left;
    font-size: 10px;
    margin-top: 17px;
    filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
    text-align: center;
    width: 144px;
}
.reg-cont:hover{
	text-decoration:underline;
}

.header-cont .login {
    background-image: url("../imagenes/carrito.png");
    background-position: 67px 50%;
    background-repeat: no-repeat;
    float: left;
    height: 19px;
    padding-left: 20px;
    padding-top: 3px;
    width: 83px;
}
.header-cont .registro {
    background-image: url("../imagenes/icono-registro2.png");
    background-position: 70px 50%;
    background-repeat: no-repeat;
    float: left;
    height: 19px;
    margin-top: 0 !important;
    padding-left: 4px;
    padding-top: 3px;
    width: 85px;
}
.header-cont .carrito {
    background-image: url("../imagenes/carrito.png");
    background-position: 44px 45%;
    background-repeat: no-repeat;
    float: left;
    height: 19px;
    margin-top: 0 !important;
    padding-left: 4px;
    padding-top: 6px;
    width: 59px;
	display:none;
}
.header-cont .header-nav-d{
    float: right;
    margin-right: 100px;
}
.idioma #esp{
	 background-image: url("../imagenes/ban-esp.png");
    background-position: 28px 7px;
    background-repeat: no-repeat;
    display: none;
    width: 74px;
}
.idioma #eng{
	 background-image: url("../imagenes/ban-eng.png");
    background-position: 28px 7px;
    background-repeat: no-repeat;
	display:none;
	width: 74px;
}
.idioma #esp:hover{
	background-color:#3F3F3F;
}
.idioma #eng:hover{
	background-color:#3F3F3F;
}
.idioma #rus{
	 background-image: url("../imagenes/ban-rus.png");
    background-position: 28px 7px;
    background-repeat: no-repeat;
	display:none;
	width: 74px;
}
.idioma #rus:hover{
	background-color:#3F3F3F;
}
3F3F3F
.rec-pas{
    float: left;
    margin-right: 25px;
    margin-top: 6px;
}
.registro{
	float: left;
    margin-right: 10px;
    margin-top: 6px;
}
.cont-header-form{
	float: left;
}
.cont-header-form .usuario{
	background-color: #B7B8B7;
    border: 0 none;
    float: left;
    height: 25px;
    margin-right: 5px;
    margin-top: 0;
    padding-left: 15px;
    position: inherit;
    width: 185px;
}
.cont-header-form .password{
	background-color: #B7B8B7;
    border: 0 none;
    height: 25px;
    margin-right: 5px;
    margin-top: 0;
    padding-left: 15px;
    position: inherit;
    width: 210px;
	float: left;
}
.bot-entrar{
	background-color: #14491F;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    height: 25px;
    padding-bottom: 2px;
    position: absolute;
    width: 100px;
	float: left;
}
.bot-entrar:hover{
	color: #14491f;
    background-color: #FFFFFF;
}

.cont-header-form a{
	float: right;
}
.logo{
	background-image: url("../imagenes/logo2.png");
    float: left;
    font-size: 0;
    height: 143px;
    left: 0;
    margin-left: -22px;
    margin-right: 17px;
    margin-top: -48px;
    text-indent: -3000px;
    width: 374px;
}
.menu-princ {
	float: left;
    font-family: 'Montserrat';
    font-size: 13px;
    margin-left: 92px;
    margin-top: 42px;
}
.menu-princ ul{
	float: left;
    margin-bottom: 0;
    padding-left: 0;
}
.menu-princ li{
	float: left;
    height: 40px;
    margin-right: 25px;
    margin-top: -25px;
    padding-top: 25px;
    text-transform: uppercase;
}
.menu-princ li:last-child{
    margin-right: 0px;
}
   

.pastilla{
	background-color: #13481E;
    height: 3px;
    margin-left: 449px;
    width: 68px;
}
.buscar{
	float: left;
    margin-top: 9px;
	margin-left: 23px;
}
.bot-buscar{
	width:22px;
	height:22px;
	background-image:url(../imagenes/icono-buscar.png);
	filter:alpha(opacity=50);
	-moz-opacity:50;
	-khtml-opacity: 50;
	opacity: 0.5;
}
.campo-buscar{
	background-color: #4f5553;
    height: 30px;
    margin-left: -261px;
    margin-top: 13px;
    position: absolute;
    width: 290px;
	height:0;
	display:none;
	z-index: 999;
}
.busqueda{
	height: 26px;
    margin-left: 2px;
    margin-top: 2px;
    width: 252px;
	background-color:#B7B8B7;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.ini-buscar{
	background-image: url("../imagenes/icono-flecha-right.png");
    height: 19px;
    margin-left: 5px;
    width: 19px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------- INICIO */

.contenedor{
	min-width: 1000px;
    overflow-x: hidden;
    width: 100%;
}
.slide{
	clear: both;
    content: "";
    display: table;
    height: 500px;
    margin: 0 auto;
}


.base-slide{
	background-color: #061608;
    background-image: url("../imagenes/malla.png");
    border-bottom: 2px solid #000000;
    height: 157px;
}
.sub-menu{
	background-color: #000000;
    display: none;
    height: 236px;
    margin-top: 0;
    position: relative;
    z-index: 100;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.sub-menu .slide-selector ul{
	background-color: #000000;
    height: 266px;
    margin: 0 0 0;
    padding: 20px 20px 0;
    position: absolute;
    width: 960px;
}
.sub-menu .slide-selector ul a{
	background-color: #000000;
}
.sub-menu .slide-selector ul img{
	background-color: #000000;
}
.mini-img-sub{
	
}
.mini-txt-sub{
	font-family: 'Montserrat';
    font-size: 14px;
    margin-left: 16px;
    margin-top: 9px;
}
.mini-txt2-sub{
	font-family: 'Montserrat';
    font-size: 14px;
    margin-left: 16px;
    margin-top: 0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.slide-selector{
	margin: 0 auto;
    width: 1000px;
	
}
.slide-selector ul{
	background-image: url("../imagenes/fondo-selector.png");
    height: 204px;
    margin: -86px 0 0;
    padding: 20px;
    position: absolute;
    width: 960px;
}
.slide-selector li{
	background-color: #000000;
    float: left;
    height: 206px;
    margin-right: 28px;
    padding: 1px;
    width: 134px;
}
.slide-selector li:last-child{
	margin-right:0;
}

.sub-slide-selector{
	background-color: #000000;
    height: 216px;
    margin: 0 auto;
    width: 1000px;
	
}
.sub-slide-selector ul{
	 background-color: #000000;
    background-image: url("../imagenes/fondo-selector.png");
    height: 176px;
    margin: 0;
    padding: 20px;
    position: absolute;
    width: 1140px;
}
.sub-slide-selector li{
	background-color: #000000;
    display: block;
    float: left;
    height: 194px;
    margin-right: 30px;
    padding: 1px;
    width: 134px;
}
.sub-slide-selector li:last-child{
	margin-right:0;
}
.otra{
	background-color:#000;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}
.mini-img{
	
}
.mini-txt{
	font-family: 'Montserrat';
    font-size: 14px;
    margin-left: 16px;
    margin-top: 9px;
}
.mini-txt2{
	font-family: 'Montserrat';
    font-size: 14px;
    margin-left: 16px;
    margin-top: 0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.franja-blanca{
	background-color: #fff;
	background-image:url(../imagenes/sombra.png);
}
.franja-content{
	margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}
.rotulo-cont{
	margin-left: -480px;
}
.rotulo{
	margin-left: 250px;
    margin-top: 70px;
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.rotulo2{
	margin-left: 250px;
    margin-top: 70px;
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.rot-nom{
	font-family: 'Montserrat';
    font-size: 23px;
}
.rot-tit{
	color: #87B425;
    font-family: 'Montserrat';
    font-size: 40px;
    margin-left: -4px;
    margin-top: -15px;
}

.bot-amarillo{
	background-image: url("../imagenes/bot-amarillo.png");
    height: 65px;
    margin-left: 290px;
    margin-top: 220px;
    filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
    position: absolute;
    width: 65px;
}
.info-tit{
	border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin-bottom: 20px;
    padding-top: 22px;
}
.info-content{
	height: 200px;
    
}
.info-caja1{
	float: left;
    margin-right: 35px;
    width: 310px;;
}
.info-caja2{
	float: left;
    margin-right: 35px;
    width: 310px;
}
.info-caja3{
	float: left;
    width: 310px;
}
.info-caja-tit{
	font-family: 'Montserrat';
	font-size:19px;
	color:#87B425;
	margin-top:14px;
	text-align:center;
}
.info-caja-txt{
	color: #061608;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-top: 4px;
}
.info-caja-img{
	
}
.img-capa{
	background-color: #050E06;
    height: 100px;
    margin-top: -100px;
    position: absolute;
    width: 310px;
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;

}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------- FOOTER */

.footer-top{
	background-color: #061608;
    background-image: url("../imagenes/malla.png");
    border-bottom: 1px dashed #FFFFFF;
    height: 12px;
    width: 100%;
}

.footer{
	 background-color: #061608;
    background-image: url("../imagenes/malla.png");
    height: 206px;
    width: 100%;
}
.footer-cont{
	font-size: 12px;
    height: 148px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}
.footer-cont-iz{
	width:700px;
	float:left;
}
.footer-cont-iz b{
	color:#fff;
	font-weight:normal;
}
.links-content{
	float: left;
    padding-left: 20px;
    padding-top: 25px;
    width: 460px;
	color:#C7C7C7;
}
.links-tit{
	letter-spacing: 0.01em;
    width: 200px;
}
.links-lista{
	margin-top: 17px;
}
.links-lista ul{
	float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 200px;
}
.links-lista li{
	border-bottom: 1px solid #FFFFFF;
    height: 19px;
    padding-top: 3px;
    width: 200px;
}

.links-content2{
	float: left;
    padding-top: 25px;
    width: 200px;
	color:#C7C7C7;
}
.links-lista p{
	float:left;
}
.links-lista img{
	float: left;
    margin-right: 8px;
    margin-top: -2px;
}
.icono-hojas{
	background-image: url("../imagenes/hojas.png");
    height: 50px;
    margin-left: 19px;
    margin-top: 60px;
    width: 100px;
	display:none;
}

.links-content .links-lista li:hover{
	color:#87B425;
	border-bottom: 1px solid #87B425;
}

.footer-cont-de{
	  float: right;
    font-family: 'Montserrat';
    margin-top: 20px;
    text-align: right;
}
.footer-cont-de .pais{
	 color: #E3D604;
    font-size: 20px;
	
}
.footer-cont-de .tlf{
	color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -6px;
}

.footer-bottom{
	background-color: #fff;
    height: 45px;
    width: 100%;
}
.footer-bottom-cont{
	font-size: 12px;
	margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}
.right{
	color: #C7C7C7;
    padding-left: 22px;
    padding-top: 16px;
    width: 500px;
}

.right b{
	font-weight:normal;
	color:#000;
}


.footer-autor {
	float: right;
    height: 40px;
    line-height: 40px;
    margin: -26px 12px 0 0;
    position: relative;
    width: 238px;
}
.footer-autor #ahorranito2 {
	background: url(http://www.imaginamos.com/derechos_autor_gris/ahorranito-2.png) no-repeat 0px 0px;
	width: 21px;
	height: 22px;
	display: block;
	float: left;
	margin: 9px 10px 0px 0px;
}
.footer-autor a {
	font-family: "Helvetica";
	font-weight: 500;
	font-size: 12px;
	color: #39444A;
	text-decoration: none;
}
.footer-autor a:hover {
	text-decoration: underline;
}
.footer-autor a span {
	color: #0CF;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------- NOSOTROS */
.cont-about-nav{
	background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1000px;
}
.about-nav{
	margin: 0 auto;
    width: 1000px;
}

.cont-about{
	margin: 0 auto;
    width: 1000px;
}
.contenedor-about1{
	background-color: #fff;
}
.contenedor-about2{
	background-color: #f6f6f6;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}
.contenedor-about4{
	background-color: #f6f6f6;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}
.cont-about{
	margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
}

.about-tit{
	border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin-bottom: 15px;
    padding-top: 50px;
}
.about-cont4{
    margin-left: 22px;
    margin-top: 14px;
}
.about-caja1{
	float: left;
    margin-right: 35px;
    width: 294px;
}
.about-caja2{
	float: left;
    margin-right: 35px;
    width: 294px;
}
.about-caja3{
	float: left;
    width: 294px;
}
.about-caja-tit{
	color: #87B425;
    font-family: 'Montserrat';
    font-size: 19px;
    line-height: 18px;
    margin-top: 14px;
    text-align: left;
}
.about-caja-txt{
	color: #061608;
    font-family: 'HelveticaLT';
    font-size: 12px;
    margin-top: 11px;
    text-align: justify;
}
.about-caja-img{
	
}
.about-img1{
	border: 13px solid #EDEDED;
    width: 622px;
	float: left;
}
.about-img2{
	border: 13px solid #F6F6F6;
    float: left;
    height: 364px;
    width: 622px;
}
.about-txt1{
	color: #061608;
    float: right;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    width: 321px;

}

.flor{
	background-image: url("../imagenes/flor.png");
    height: 32px;
    margin: 0 auto -11px;
    position: relative;
    width: 42px;
}
.about-menu{
	background-color: #323B3A;
    float: right;
    height: 50px;
    width: 302px;
}
.about-menu ul{
	margin: 5px;
    padding: 0;
    text-align: center;
}
.about-menu li{
	background-color: #1D1D1B;
    display: block;
    float: left;
    height: 40px;
    margin-left: 7px;
    text-indent: -3000px;
    width: 50px;
}
.historia-a{
	position: absolute;
}
.historia-b{
	position: absolute;
}.historia-c{
	position: absolute;
}
.h-a1{
	/*background-image:url(../imagenes/historia-a1.jpg);*/
	width:622px;
	height:120px;
	border-bottom: 2px solid #000000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:2;
	position:relative;
	cursor:pointer;
}
.h-a2{
	/*background-image:url(../imagenes/historia-a2.jpg);*/
	width:622px;
	height:120px;
	border-bottom: 2px solid #000000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:1;
	position:relative;
	cursor:pointer;
}
.h-a3{
	/*background-image:url(../imagenes/historia-a3.jpg);*/
	width:622px;
	height:120px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:1;
	position:relative;
	cursor:pointer;
}
.h-b1{
	/*background-image:url(../imagenes/historia-b1.jpg);*/
	width:622px;
	height:120px;
	border-bottom: 2px solid #000000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:1;
	position:relative;
	cursor:pointer;
}
.h-b2{
	/*background-image:url(../imagenes/historia-b2.jpg);*/
	width:622px;
	height:120px;
	border-bottom: 2px solid #000000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:2;
	position:relative;
	cursor:pointer;
}
.h-b3{
	/*background-image:url(../imagenes/historia-b3.jpg);*/
	width:622px;
	height:120px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:1;
	position:relative;
	cursor:pointer;
}
.h-c1{
	/*background-image:url(../imagenes/historia-c1.jpg);*/
	width:622px;
	height:120px;
	border-bottom: 2px solid #000000;
	z-index:1;
	position:relative;
	cursor:pointer;
	filter:alpha(opacity=100);
	-moz-opacity:100;
	-khtml-opacity: 100;
	opacity: 1;
}
.h-c2{
	/*background-image:url(../imagenes/historia-c2.jpg);*/
	width:622px;
	height:120px;
	border-bottom: 2px solid #000000;
	z-index:1;
	position:relative;
	cursor:pointer;
	filter:alpha(opacity=100);
	-moz-opacity:100;
	-khtml-opacity: 100;
	opacity: 1;
}
.h-c3{
	/*background-image:url(../imagenes/historia-c3.jpg);*/
	width:622px;
	height:120px;
	z-index:2;
	position:relative;
	cursor:pointer;
	filter:alpha(opacity=100);
	-moz-opacity:100;
	-khtml-opacity: 100;
	opacity: 1;
}
.ab1{
    background-image: url("../imagenes/iconos-about.png");
    background-position: -46px 2px;
}
.ab1:hover{
    background-position: -46px 2px;
}
.ab2{
	background-image: url("../imagenes/iconos-about.png");
    background-position: -101px 2px;
}
.ab3{
	background-image: url("../imagenes/iconos-about.png");
    background-position: -236px 2px;
}
.ab4{
	background-image: url("../imagenes/iconos-about.png");
    background-position: -374px 2px;
}
.ab1:hover{
    background-position: -46px 42px;
}
.ab2:hover{
    background-position: -101px 42px;
}
.ab3:hover{
    background-position: -236px 42px;
}
.ab4:hover{
    background-position: -374px 42px;
}


.about-sub-menu{
    float: right;
    height: 50px;
    width: 302px;
}
.about-sub-menu ul{
	margin: 0;
    padding: 0;
    text-align: center;
}
.about-sub-menu li{
	background-color: #323B3A;
    display: block;
    float: left;
    font-family: 'FuturaBT';
    font-size: 11px;
    padding-bottom: 5px;
    width: 57px;
	height:0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.about-sub-menu li:first-child{
	padding-left: 9px;
    width: 57px;
}
.about-sub-menu li:last-child{
	padding-right: 10px;
    width: 55px;
}

.about-area{
	border: 13px solid #EDEDED;
    float: left;
    width: 623px;
	
	height:361px;;
}
.area-a{
	
}
.area-b{
	background-image:url(../imagenes/area-b.jpg);
	width:622px;
	height:362PX;
}
.area-a ul{
	margin: 0;
    padding: 0;
	float:left;
}
.area-a li{
	
}
.area-num{
	font-family: 'HelveticaLT';
    font-size: 10px;
    margin-left: 13px;
    margin-top: 7px;
    position: absolute;
    z-index: 100;
	color:#000;
}
.area-fondo1{
	background-color: #000000;
    height: 0;
    margin-left: 10px;
    position: absolute;
    width: 11px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.area-img1{
	border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 417px;
}
.area-img4{
    border-right: 1px solid #FFFFFF;
    width: 417px;
}
.area-fondo2{
	background-color: #000000;
    height: 120px;
    margin-left: 10px;
    position: absolute;
    width: 11px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.area-img2{
	border-bottom: 1px solid #FFFFFF;
    width: 204px;
}

.area-fondo3{
	background-color: #000000;
    height: 123px;
    margin-left: 10px;
    position: absolute;
    width: 11px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.area-fondo4{
	background-color: #000000;
    height: 237px;
    margin-left: 10px;
    position: absolute;
    width: 11px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.area-fondo5{
	background-color: #000000;
    height: 123px;
    margin-left: 10px;
    position: absolute;
    width: 11px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.area-img3{
	width: 204px;
}

.txt-din{
	color: #363635;
    float: right;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    width: 300px;
}
.tit-din{
	color: #061608;
    float: right;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin-bottom: 15px;
	
}
.about-cont-din2{
	display:none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.about-cont-din3{
	display:none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.about-cont-din4{
	display:none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.about-cont-din5{
	display:none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------------------------------------------- RESULTADOS */
.contendor-buscar{
	background-color:#fff;
}
.cont-buscar{
	height: 42px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.campo-buscar2{
	margin: 0 auto;
    width: 705px;
}
.busqueda2{
	background-image: url("../imagenes/fondo-buscar2.png");
    border-left: 1px solid #3C3C3C;
    border-top: 1px solid #3C3C3C;
    color: #706F6F;
    font-family: 'Montserrat';
    font-size: 18px;
    height: 41px;
    padding-left: 10px;
    width: 606px;
	float: left;
}
.ini-buscar2{
	background-color: #14491F;
    background-image: url("../imagenes/icono-buscar2.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    width: 83px;
}
.contendor-resultados{
	background-color: #F6F6F6;
    border-top: 1px solid #F1F1F1;
}
.cont-resultados{
    border-bottom: 1px solid #E1E1E1;
    margin: 0 auto 100px;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 0;
    padding-top: 50px;
}
.resultados-tit{
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
	
}
.resultado{
	padding-bottom: 40px;
    padding-top: 40px;
	border-top: 1px solid #E1E1E1;
}
.resultado-img{
	border: 11px solid #FFFFFF;
    float: left;
    margin-right: 56px;
    width: 332px;
}
.resultado-info{
    float: left;
    
    width: 590px;
}
.resultado-info-tit{
	font-family: 'Montserrat';
    font-size: 20px;
	color:#87B425;
}
.resultado-info-txt{
	color: #000000;
    font-family: 'HelveticaLT';
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: justify;
}
.resultado-info-link{
	font-family:'HelveticaLT';
	color:#87B425;
	font-size:14px;
}
.resultados-nav{
	margin: 0 auto;
    padding-bottom: 50px;
    width: 164px;
}
.bot-prev{
	background-image: url("../imagenes/galeria_arrow_left.png");
    float: left;
    height: 37px;
    width: 37px;
	cursor: pointer;
}
.bot-next{
	background-image:url(../imagenes/galeria_arrow_right.png);
	width:37px;
	height:37px;
	float: left;
	cursor: pointer;
}
.bot-prev:hover{
	background-position:bottom;
}
.bot-next:hover{
	background-position:bottom;
}
.pags{
	color: #706F6F;
    float: left;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.pags span{
    font-size: 12px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- CONTACTO */
.contendor-contacto{
	background-color:#fff;
}
.cont-contacto{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contendor-contacto-form{
	background-color: #F6F6F6;
    border-top: 1px solid #F1F1F1;
}
.cont-contacto-form{
    float: left;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 999px;
}
.contacto-tit{
	border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin-bottom: 25px;
}
.contacto-img{
	border: 11px solid #F6F6F6;
}
.contacto-txt{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    height: 83px;
    line-height: 18px;
    margin-top: 0;
    padding-top: 17px;
    text-align: justify;
}
.cont-contacto-form form{
	
}
.cont-contacto-form span{
	color: #87B425;
    font-family: 'Montserrat';
    font-size: 18px;
}
.cont-contacto-form input{
	background-image: url("../imagenes/fondo-form.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 466px;
}
.cont-contacto-form .pais{
	margin-right: 6px;
}

.cont-contacto-form .ciudad{
}
.cont-contacto-form .campos-cortos{
	
}
.cont-contacto-form .n-pais{
	float: left;
    margin-right: 5px;
}
.cont-contacto-form .n-ciudad{

}
.cont-contacto-form textarea{
	background-image: url("../imagenes/fondo-coment.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 101px;
    padding-left: 10px;
    padding-top: 10px;
    width: 460px;
}
.cont-contacto-form .comentarios{
	float: left;
    width: 790px;
}
.cont-contacto-form  .enviar2 {
	float: left;
    margin-left: 39px;
    margin-top: 49px;
}
.cont-contacto-form .formulario-bot{
	float: left;
    width: 999px;
}
.cont-contacto-form .formulario-iz{
	float: left;
    margin-right: 0;
    width: 520px;
}
.cont-contacto-form .formulario-de {
    float: left;
    margin-right: 0;
    width: 479px;
}
.formulario-iz{
	float: left;
    margin-right: 61px;
}
.formulario-de{
	float:left;
}
.enviar2{
	background-image: url("../imagenes/bot-enviar.png") !important;
    float: right;
    height: 45px !important;
    margin-bottom: 0 !important;
    margin-top: 21px;
    padding: 0 !important;
    width: 132px !important;
}

.contendor-equipo{
	background-color: #F6F6F6;
    border-top: 1px solid #F1F1F1;
}
.cont-equipo{
    margin: 0 auto;
    max-width: 1147px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.equipo-tit {
    border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin: 0 auto 15px;
    width: 1000px;
}
.equipo{
	
}
.equipo-img{
	border: 13px solid #EDEDED;
    float: left;
    margin-right: 53px;
    width: 621px;
}
.equipo-info{
	float: left;
    width: 300px;
}
.equipo-fecha{
	font-family: 'FuturaBT';
	font-size:12px;
	color:#706F6F;
}
.equipo-tit{
	
}
.equipo-txt{
	color: #061608;
    font-family: 'HelveticaLT';
    font-size: 13px;
    margin: 20px 0;
    text-align: justify;
}
.ver-mas{
	background-image: url("../imagenes/bot-ver-mas.png");
    background-position: right 2px;
    background-repeat: no-repeat;
    color: #87B425;
    font-family: 'FuturaBT';
    font-size: 11px;
    height: 13px;
    padding-bottom: 2px;
    width: 62px;
}
.slide-cont{
	float: left;
    overflow: hidden;
    position: relative;
    width: 1000px;
}
.equipo-slide{
	float: left;
    height: 182px;
    position: relative;
    width: 1000px;
}
.equipo-mini{
	float: left;
}
.equipo-mini-tit{
	color: #87B425;
    font-family: 'FuturaBT';
    font-size: 14px;
    line-height: 10px;
    margin-bottom: 1px;
    margin-top: 9px;
}
.equipo-m-img{
	border: 1px solid #E1E1E1;
    float: left;
    margin-right: 20px;
    width: 150px;
}
.equipo-mini-info{
	float: left;
    line-height: 17px;
    width: 151px;
}
.equipo-mini-fecha{
	color: #706F6F;
    font-family: 'FuturaBT';
    font-size: 12px;
}
.equipo-mini-txt{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 4px;
    text-align: justify;
}
.cont-equipo .bot-prev{
	margin-right: 25px;
    margin-top: 25px;
}
.cont-equipo .bot-next{
	margin-top:25px;
	margin-left: 35px;
}
.equipo-slide ul{
	height: 92px;
    margin: 0 0 0 -40px;
    width: 10000px;
}
.equipo-slide li{
	width: 212px;
}
.equipo-slide li:first-child{
	
}
.equipo-slide li:last-child{
	margin-right: 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------------------------------------------- NOTICIAS */
#wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
}
#main-nav-holder {
	height:30px;
}
#main-nav ul {
	width:500px;
	margin-left:-20px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:#333;
	color:#ddd;
}
#main-nav li {
	display:inline;
	padding:0 15px;
	border-left:1px solid #555;
}
#main-nav li:first-child {
	border-left:0;
}
.sticky #about-nav {
	margin: 0 auto;
    position: fixed;
    top: 0;
    width: 1000px;
}
.sticky #about-nav ul {
}
.contendor-noticias{
	background-color:#fff;
}
.cont-noticias{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contendor-otras-noticias{
	background-color: #F6F6F6;
    border-top: 1px solid #F1F1F1;
}
.cont-otras-noticias{
    margin: 0 auto;
    max-width: 1134px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}


	
.noticias-tit {
    border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin: 0 auto 15px;
    width: 1000px;
}
.noticia{
	
}
.noticia-img{
	border: 13px solid #EDEDED;
    float: left;
    margin-right: 53px;
    width: 621px;
}
.noticia-info{
	float: left;
    width: 300px;
}
.noticia-fecha{
	font-family: 'FuturaBT';
	font-size:12px;
	color:#706F6F;
}
.noticia-tit{
	color: #87B425;
    font-family: 'FuturaBT';
    font-size: 32px;
    line-height: 34px;
}
.noticia-txt{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0;
    text-align: justify;
}
.ver-mas{
	background-image: url("../imagenes/bot-ver-mas.png");
    background-position: right 2px;
    background-repeat: no-repeat;
    color: #87B425;
    font-family: 'FuturaBT';
    font-size: 11px;
    height: 13px;
    padding-bottom: 2px;
    width: 62px;
}
.slide-cont{
	float: left;
    margin-left: 11px;
    overflow: hidden;
    position: relative;
    width: 1000px;
}
.noticias-slide{
	float: left;
    height: 122px;
    position: relative;
    width: 1000px;
}
.noticia-mini{
	float: left;
}
.noticia-mini-tit{
	color: #87B425;
    font-family: 'FuturaBT';
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 12px;
}
.noticia-m-img{
	float: left;
    margin-right: 20px;
}
.noticia-mini-info{
	float: left;
    line-height: 17px;
    width: 190px;
}
.noticia-mini-fecha{
	font-family: 'FuturaBT';
    font-size: 15px;
	color:#706F6F;
}
.noticia-mini-txt{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
    text-align: justify;
}
.cont-otras-noticias .bot-prev{
	margin-right: 25px;
    margin-top: 25px;
}
.cont-otras-noticias .bot-next{
	margin-top:25px;
	margin-left: 35px;
}
.noticias-slide ul{
	height: 92px;
    margin: 0 0 0 -40px;
    width: 10000px;
}
.noticias-slide li{
	width: 352px;
}
.noticias-slide li:first-child{
	
}
.noticias-slide li:last-child{
	margin-right: 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- NOTICIAS */
.contendor-noticias-det{
	background-color:#fff;
}
.cont-noticias-det{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contendor-otras-noticias{
	background-color: #F6F6F6;
    border-top: 1px solid #F1F1F1;
}
.cont-otras-noticias{
    margin: 0 auto;
    max-width: 1147px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.noticias-tit-det {
   border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin: 0 auto 15px;
    width: 1000px;
}
.noticia-det{
	
}
.noticia-img-det{
	border: 13px solid #EDEDED;
    float: right;
    margin-right: 53px;
    width: 273px;
}
.noticia-info-det{
	float: left;
    width: 604px;
}
.noticia-fecha-det{
	font-family: 'FuturaBT';
	font-size:12px;
	color:#706F6F;
}
.noticia-tit-det{
	color: #87B425;
    font-family: 'FuturaBT';
    font-size: 32px;
    line-height: 30px;
}
.noticia-txt-det{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0;
    text-align: justify;
}


/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- AYUDA */

.contendor-ayuda{
	background-color:#fff;
}
.cont-ayuda{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.ayuda-tit {
    border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin-bottom: 15px;
}


.cont-ayuda-form form{
	
}
.cont-ayuda-form span{
	color: #87B425;
    font-family: 'Montserrat';
    font-size: 18px;
}
.cont-ayuda-form input{
	background-image: url("../imagenes/fondo-form.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    height: 33px;
    margin-bottom: 10px;
    width: 455px;
    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 10px;
}

.cont-ayuda-form textarea{
	background-image: url("../imagenes/fondo-coment.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 101px;
    padding-left: 10px;
    padding-top: 10px;
    width: 460px;
}
.cont-ayuda-form .comentarios{
	
}
.ayuda-iz{
	float: left;
    margin-right: 61px;
}
.ayuda-de{
	float:left;
}
.enviar2{
	background-image: url("../imagenes/bot-enviar.png") !important;
    float: right;
    height: 45px !important;
    margin-bottom: 0 !important;
    margin-top: 21px;
    padding: 0 !important;
    width: 132px !important;
}
.ayuda-sub-tit {
    border-bottom: 1px dashed #E1E1E1;
    color: #87B425;
    font-family: 'Montserrat';
    font-size: 21px;
    height: 34px;
    margin-bottom: 45px;
    margin-top: 32px;
    padding-left: 45px;
}
.desplegable{
	margin-bottom:10px;
}
.desp-tit{
	background-image: url("../imagenes/fondo-desp.png");
    border-radius: 10px 0 0 10px;
    color: #000000;
    float: left;
    font-family: 'Montserrat';
    font-size: 17px;
    height: 38px;
    margin-right: 2px;
    padding-top: 12px;
    text-align: center;
    width: 377px;
}
.desp-bot-cont{
	background-image: url("../imagenes/fondo-desp.png");
    border-radius: 0 10px 10px 0;
	height:50px;
	width:61px;
	float: left;
}
.desp-bot{
	background-image: url("../imagenes/flechita.png");
    background-repeat: no-repeat;
    height: 7px;
    margin-left: 22px;
    margin-top: 20px;
    width: 13px;
}
.desplegable-cont{
	background-image: url("../imagenes/fondo-desp-cont.png");
    border-left: 1px solid #F3F3F3;
    border-radius: 0 0 10px 10px;
    border-right: 1px solid #F3F3F3;
    height: 0;
    margin-top: 0;
    width: 438px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
#desp-txt1{
	color: #575756;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 15px;
    margin:0 auto;
    text-align: justify;
    width: 404px;
	padding-top:10px;
	display:none;
}
#desp-txt2{
	color: #575756;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 15px;
    margin:0 auto;
    text-align: justify;
    width: 404px;
	padding-top:10px;
	display:none;
}
#desp-txt3{
	color: #575756;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 15px;
    margin:0 auto;
    text-align: justify;
    width: 404px;
	padding-top:10px;
	display:none;
}
.resultados-box{
	float: left;
    height: 880px;
    width: 1000px;
}
.sub-resultados-cont{
	left: 0;
    position: relative;
    top: 0;
}
.resultados-cont{
	height: 880px;
    overflow: hidden;
    position: relative;
    width: 1000px;
}
.navInfo {
    color: #706F6F;
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 80px;
}
.navInfo span {
    font-size: 22px;
}
.navInfo span {
    font-size: 22px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- PRODUCTOS */
input[type=submit]:hover, input[type=button]:hover { cursor:pointer}

.tituloWrapper { 
	background: none repeat scroll 0 0 #FFFFFF;
    padding: 120px 0 20px;
    width: 100%;}
.tituloMain { 
	border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
	text-transform:uppercase;
    height: 30px;
    margin: 0 auto 15px;
    padding-bottom: 15px;
    padding-top: 0;
    width: 1000px;
}

.prodContentWrapper2 {
	background: none repeat scroll 0 0 #030A03;
    margin-top: -72px;
    padding-bottom: 40px;
    width: 100%;
}
.prodContentWrapper3 {
	background: none repeat scroll 0 0 #030A03;
    width: 100%;
}
.prodContentWrapper {
	background: none repeat scroll 0 0 #030A03;
    padding-top: 60px;
    width: 100%;
}
.prodBox { width:1000px; margin:0 auto; padding-bottom:50px;}
.prodItem { width:330px; height:390px; float:left; border-right:1px dashed #434a43;font-family: 'Montserrat', Arial; position:relative; border-bottom:1px solid #434a43;}
.prodItem img { margin:35px 25px; margin-bottom:0}
.prodItem .prodName { width:280px; text-align:center; color:#fff; font-size:25px; margin:10px 25px; margin-bottom:0}
.prodItem .prodNum { width:280px; text-align:center; color:#fff; font-size:15px; margin:15px 25px; margin-bottom:0;
filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;}
.prodItem .line { width:100%; height:4px; background:#87b425; position:absolute; bottom:0;
filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0; }

.filtroWrapper {background: none repeat scroll 0 0 #FFFFFF;
    padding: 37px 0 50px;
    width: 100%;}
.filterBox {
    float: right;
    height: 55px;
    margin-top: -60px;
    padding: 36px 0 0;
    width: 797px;}
	
	.volver-detalle {
    background-image: url("../imagenes/bot-volver.png");
    background-position: -3px 2px;
    background-repeat: no-repeat;
    color: #87B425;
    float: right;
    font-family: 'FuturaBT';
    font-size: 11px;
    height: 13px;
    margin-top: -7px;
    padding-bottom: 2px;
    padding-left: 20px;
    width: 51px;
}
.selectBox { width:290px; height:35px; padding-left:40px; float:left}
.busc-tit{
    color: #061608;
    float: left;
    font-family: 'Montserrat';
    font-size: 15px;
    margin-top: -29px;
    padding-left: 43px;
    text-transform: uppercase;
    width: 170px;
}
.detalleBox { width:1000px; margin:0 auto; background:#030A03; margin-bottom:60px;  font-family: 'Montserrat', Arial; font-weight:normal}
.detalleLeftBox { width:440px; float:left; margin:20px; margin-right:0px;} 
.detalleRightBox { width:460px; float:left; margin:20px } 
.nombre { color:#87B425; font-size:38px; }
.especificaciones { border-bottom:1px solid #fff; padding:10px 0; margin-bottom:20px;}
.textoBoxScroll { font-size:12px; width:100%; height:230px;/*overflow:hidden; overflow-y:scroll;*/}
.textBox { width:100%; height:auto}
.stButton{
	display: none !important;
}
.botonesBox {margin: 51px 0;
    width: 100%;}
#compartirBtn {cursor:pointer;width:105px; height:30px; display:block; background:url(../imagenes/compartirBtn.png); font-size:11px; color:#87B425; line-height:30px; text-indent:8px; float:left; margin-right:25px; }
.agregarBtn {cursor:pointer;display:block;width:160px; height:30px; background:url(../imagenes/agregarCotizacionBtn.png); font-size:11px; color:#87B425; line-height:30px; text-indent:8px; float:left }
#compartirBtn:hover , .agregarBtn:hover { background-position:0 -30px; color:#fff }

.galeriaThumbsBox {clear: both;
    float: right;
    height: 95px;
    margin-top: 19px;
    position: relative;
    right: -472px;
    width: 100%;}
.arrowLeft { width:37px; height:37px; background:url(../imagenes/galeria_arrow_left.png) no-repeat; float:left; margin-top:30px;}
.arrowRight {width:37px; height:37px; background:url(../imagenes/galeria_arrow_right.png) no-repeat; float:left; margin-top:30px;}
.arrowLeft:hover, .arrowRight:hover { cursor:pointer; background-position:0 -37px;} 
.thumbsContainer { width:341px; height:95px; float:left; overflow:hidden; margin:0 10px; position:relative;}
.thumbsBox { width:100px; height:95px; position:relative; top:0; left:0;}
.thumbsBox img { margin-right:7px; float:left} 
.thumbsBox img:hover { cursor:pointer}

.galeriaBigImages { height: 419px;
    overflow: hidden;
    position: relative;
    width: 460px;}
.galeriaBigImages img { position:absolute; top:0; left:0;}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- SUBASTAS */
.tiempo-cerrar{
	color:#706F6F;
}
.tiempo-cerrar2{
	color:#706F6F;
	font-size:14px;
}
.subastaMainWrapper {font-family: 'Montserrat',Arial;
    font-weight: normal;
    margin: -50px auto 50px;
    width: 1000px;
	margin-top: 140px !important;}
.subastaLeft { width:490px; height:240px; float:left }
.subastaLeft img { border:15px solid #F6F6F6}
.subastaRight {float: left;
    height: 240px;
    margin-left: 20px;
    text-align: justify;
    width: 490px; }
.subastaMainWrapper .titulo { color:#87B425; font-family: 'FuturaBT', Arial; font-size:32px;}
.subastaMainWrapper .texto { color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;}
.subastaMainWrapper .valor { font-family: 'Montserrat', Arial; color:#706F6F; font-size:20px; }
.subastaMainWrapper .time { background:#87B425; width:55px; height:30px; display:inline-block; margin-right:10px; text-align:center; line-height:30px;}
.subastaMainWrapper .ofertar { background:url(../imagenes/checkIcon.png) left no-repeat #13491E; display:inline-block; padding:5px 20px 5px 45px; font-size:24px; font-weight:bold; margin-top:15px;}

.historico { 
	color: #13491E;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: -230px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}


.subastaMainWrapper .tituloFin { color:#87B425; font-family: 'FuturaBT', Arial; font-size:16px;}
.subastaMainWrapper .valorFin { font-family: 'Montserrat', Arial; color:#706F6F; font-size:14px; }
.subastaMainWrapper .vendido { width:39px; height:94px; background:url(../imagenes/vendido-flag.png); position:absolute; top:0; left:13px;}

.navigationBox { 
	margin: -60px auto 0;
    position: relative;
    width: 157px;
    z-index: 9999;
}
.navigationBox2 { 
	margin: -80px auto 60px;
    width: 157px;
}
.navInfo { width:80px; float:left; color:#706F6F; text-align:center; margin-top:5px}
.navInfo span { font-size:22px}
.navArrowLeft { width:37px; height:37px; background:url(../imagenes/galeria_arrow_left.png) no-repeat; float:left; }
.navArrowRight {width:37px; height:37px; background:url(../imagenes/galeria_arrow_right.png) no-repeat; float:left;}
.navArrowLeft:hover, .navArrowRight:hover { cursor:pointer; background-position:0 -37px;} 

.otrasSubastasWrapper { width:100%; background:#F6F6F6; padding:37px 0 50px 0;  font-family: 'Montserrat', Arial;}
.otrasSubWrapper { width:1000px; margin:0 auto; margin-top:40px; position:relative}
.otrasSubScrollBox { width:1000px; overflow:hidden; position:relative;  }
.otrasSubBox { width:2000px; height:131px; position:relative; top:0; left:0;}
.subItem { width:500px; float:left}
.subItemFin { float: left;
    margin-bottom: 40px;
    width: 333px;}
.subItemLeft { width:241px; height:131px; float:left; margin-right:10px;}
.subItemLeftFin {height: 200px;
    margin-right: 10px;
    position: relative;
    width: 317px;}
.subItemLeftFin img { border:8px solid #EDEDED;}
.subItemLeft img { border:8px solid #fff;}
.subItemRight{
     margin-top: 10px;
    text-align: center;
    width: 300px;}

.otrasSubWrapper .titulo { color:#87B425; font-family: 'FuturaBT', Arial; font-size:17px;}
.otrasSubWrapper .texto { color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 14px;}
.otrasSubWrapper .valor { font-family: 'Montserrat', Arial; color:#706F6F; font-size:14px; }
.otrasSubWrapper .time { background:#87B425; width:45px; height:25px; display:inline-block; margin-right:10px; text-align:center; line-height:25px; margin-top:5px;}
.otrasSubWrapper .ofertar { background:url(../imagenes/checkIcon2.png) left no-repeat #13491E; display:inline-block; padding:5px 20px 5px 45px; font-size:21px; font-weight:bold; margin-top:20px;}
.subArrowLeft { width:37px; height:37px; background:url(../imagenes/subasta_arrow_left.png); position:absolute; top:40px; left:-70px;}
.subArrowRitgh { width:37px; height:37px; background:url(../imagenes/subasta_arrow_right.png); position:absolute; top:40px; right:-70px;}
.subArrowRitgh:hover, .subArrowLeft:hover { cursor:pointer; background-position:0 -37px;}

.otrasSubastasBtnBox { width:1000px; height:23px; clear:both; margin:0 auto; margin-top:67px;}
.otrasSubastasBtn { width:160px; height:23px; margin:0 auto; background:url(../imagenes/ver_mas_subastas.png); display:block; font-size:11px; line-height:23px; text-indent:22px;}

.subFinContent {
	height: 870px;
    margin-bottom: 19px;
    overflow: hidden;
    position: relative;
    width: 1000px;
}
.subFinScroll { width:2000px; position:relative; top:0; left:0; }
.subFinBox4 { 
	float: left;
    height: 828px;
    width: 1004px;
}

.ganador{
	
}
.ganador-acot{
	border-bottom: 1px solid #E1E1E1;
    color: #87B425;
    margin: 30px auto 0;
    width: 480px;
}
.ganador-nombre{
	background-color: #F6FDE5;
    height: 28px;
    margin: 5px auto 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    width: 410px;
}
.ganador-nombre span{
	margin-right: 60px;
}
.ganador-nombre .ult-span{
	margin-right: 0;
}

.otras-subastas-acot{
	border-bottom: 1px solid #E1E1E1;
    color: #333333;
    margin: 30px auto 0;
    width: 480px;
}
.otras-subastas-nombre{
    height: 28px;
    margin: 5px auto 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    width: 410px;
}
.otras-subastas-nombre span{
	margin-right: 60px;
}
.otras-subastas-nombre .ult-span{
	margin-right: 0;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- CARRITO */
.carritoBox { width:1000px; margin:0 auto; background:#030A03; margin-bottom:40px;}
.carritoLeft { width:700px; float:left;}
.carritoRight { width:300px; background:#323A39; float:left;}
.carritoLeft .titulo { width:442px; margin-left:258px; margin-top:35px; height:25px; border-bottom:1px solid #fff; font-family: 'Montserrat', Arial;}
.carritoRight .titulo { width:280px; padding-left:20px; margin-top:35px; height:25px; border-bottom:1px solid #fff; font-family: 'Montserrat', Arial;}
.itemCarrito { width:1000px; height:140px; border-bottom:1px dotted #fff; font-family: 'Montserrat', Arial; }
.itemCarrito .borrarItem { width:28px; height:28px; background:url(../imagenes/equisBtn.png); display:block; float:left; margin:45px 30px;}
.itemCarrito .borrarItem:hover { background-position:0 -28px;}
.itemCarrito img {float:left;padding:20px 0;}
.itemCarrito .text { width:402px; float:left;padding:20px 40px; font-size:11px;}
.stepperWrapper { width:300px; height:100px; background:#323A39; float:left;padding:20px 0;}

.stepperBox { width:110px; height:35px; margin:20px auto; }
.stepperBox .fieldBox { width:67px; height:35px; background:url(../imagenes/stepper_field.png); float:left;}
.stepperBox input { width:60px; height:35px; background:none; border:none; text-align:center; font-size:20px; color:#000000}
.stepperBox .arrowsBox { width:43px; height:35px; float:left}
.stepperBox .arrowUp { width:43px; height:18px; background:url(../imagenes/stepper_arrow_up.png)}
.stepperBox .arrowDown { width:43px; height:17px; background:url(../imagenes/stepper_arrow_down.png)}
.carritoBtnHolder { width:1000px; margin:0 auto; height:50px;}
.enviar-pedido { width:225px; height:42px; background:url(../imagenes/enviar-pedido.png) no-repeat; border:none; float:right }
.enviar-pedido:hover { background-position:0 -42px; }





.ofertarSubastaInput {background-image: url("../imagenes/fondo-form.png");
border: 1px solid #C6C6C6;
border-radius: 6px 6px 6px 6px;
height: 33px;
margin-top: 30px;
width: 230px;
font-family: 'Montserrat';
font-size: 14px;
padding-left: 10px;
}
.gracias {font-family: 'Montserrat', Arial; text-align:center; color:#87B425; padding-top:30px; font-size:18px;}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- LOGIN */
.loginWrapper { width:530px; height:340px; background:#FFFFFF}
.loginWrapper .titulo{font-family: 'Montserrat', Arial; text-align:center; color:#87B425; padding-top:30px; font-size:18px;}
.loginWrapper .formBox { width:467px; margin:0 auto; margin-top:20px;}
.loginWrapper .link { float:left;font-family: 'Montserrat', Arial; font-size:11px; color:#87B425;}
.loginWrapper .leftBox { width:267px; float:left; margin-top: 21px;}
.loginWrapper .rightBox { width:200px; float:left}
.loginWrapper input {
background-image: url("../imagenes/fondo-form.png");
border: 1px solid #C6C6C6;
border-radius: 6px 6px 6px 6px;
height: 33px;
margin-bottom: 10px;
width: 455px;
font-family: 'Montserrat';
font-size: 14px;
padding-left: 10px;
}
.loginWrapper span {
color: #424242;
font-family: 'Montserrat';
font-size: 18px;
}

.loginWrapper .enviar2 {
background-image: url("../imagenes/bot-enviar.png") !important;
float: right;
border-radius: 0 !important;
height: 45px !important;
margin-bottom: 0 !important;
margin-top: 21px;
padding: 0 !important;
width: 132px !important;
}
.catalogo{
	border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    float: left;
    height: 22px;
    margin-top: 22px;
    padding-top: 5px;
    text-align: center;
    width: 430px;
}

.catalogo:hover{
	border-bottom: 1px solid #87b425;
    border-top: 1px solid #87b425;
    color:#87b425
}

/*-----------------------------------------------------------------------------------------------SLIDE*/

/* Basic jQuery Slider essential styles */

.cont-about ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
.cont-about li.bjqs-slide{display:none;position:absolute;}

.cont-about ul.bjqs-controls{
	list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
    z-index: 9999;}

.cont-about ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
.cont-about ol.bjqs-markers li{float:left;}

.cont-about p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* demo styles */

body{
  
}

#container{

}

#banner {
	border: 13px solid #EDEDED;
    margin-bottom: 60px;
    position: relative;

}
#banner2 {
	border: 13px solid #FFFFFF;
    float: right;
    margin-bottom: 60px;
    position: relative;

}

.cont-about  ul.bjqs-controls li a{
	display: block;
    margin-right: 10px;
    text-indent: -3000px;
}

.cont-about a.bjqs-prev{
  left:0;
  background-image: url("../imagenes/galeria_arrow_left.png");
    float: right;
    height: 37px;
    width: 37px;
}

.cont-about a.bjqs-next{
 background-image: url("../imagenes/galeria_arrow_right.png");
    float: right;
    height: 37px;
    width: 37px;
}

.cont-about  p.bjqs-caption{
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
  display:none;
}

.cont-about  ol.bjqs-markers{
  position:absolute;
  bottom:-50px;
  
}

.cont-about  ol.bjqs-markers li{
    bottom: 15px;
    color: #706F6F !important;
    font-family: 'Montserrat';
    font-size: 22px;
    left: 300px;
    position: absolute;
  
}

.cont-about ol.bjqs-markers li a{
    height: 10px;
	display:none;
}

.cont-about ol.bjqs-markers li.active-marker a{
  display:block;
}
.cont-about .contador{
	color: #706F6F !important;
    float: right;
    font-family: 'Montserrat';
    font-size: 22px;
    margin-right: 23px;
    margin-top: 5px;
    right: 60px;
    width: 50px;
}
.cont-about .contador span{
	float: left;
    font-size: 16px;
    margin-right: 7px;
    margin-top: 4px;
}
.cont-about .contador li{
	list-style:none;
	float: left;
	display:none;
}
.cont-about .contador li:last-child{
	list-style:none;
	float: left;
	display:block;
}









.about-cont4 ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
.about-cont4  li.bjqs-slide{display:none;position:absolute;}

.about-cont4  ul.bjqs-controls{
	left: -244px;
    list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
    position: absolute;
    top: -29px;
    z-index: 9999;}
.about-cont4  ul.bjqs-controls li{
	float: left;
}
.about-cont4  ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
.about-cont4  ol.bjqs-markers li{float:left;}

.about-cont4  p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
.about-cont4 .bjqs-controls li a{
	display: block;
    margin-right: 10px;
    text-indent: -3000px;
}

.about-cont4 a.bjqs-prev{
	background-image: url("../imagenes/galeria_arrow_left.png");
    height: 37px;
    left: 40px;
    position: absolute;
    top: 0 !important;
    width: 37px;}

.about-cont4 a.bjqs-next{
 	background-image: url("../imagenes/galeria_arrow_right.png");
    height: 37px;
    left: 100px;
    position: absolute;
    top: 0 !important;
    width: 37px;
}

.about-cont4  p.bjqs-caption{
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
  display:none;
}

.about-cont4  ol.bjqs-markers{
	bottom: 221px;
    left: -602px !important;
    position: absolute;
}

.about-cont4  ol.bjqs-markers li{
    bottom: 15px;
    color: #706F6F !important;
    font-family: 'Montserrat';
    font-size: 22px;
    left: 300px;
    position: absolute;
  
}

.about-cont4  ol.bjqs-markers li a{
    height: 10px;
	display:none;
}

.about-cont4 ol.bjqs-markers li.active-marker a{
  display:block !important;
}


.about-cont4  ol.bjqs-markers li .ventaja{
	display:none !important;
}

.about-cont4 ol.bjqs-markers li.active-marker .ventaja{
  display:block !important;
}


.about-cont4 .contador{
	color: #706F6F !important;
    font-family: 'Montserrat';
    font-size: 22px;
    left: -280px !important;
    position: absolute;
    top: -10px;
    width: 50px;
}
.about-cont4 .contador span{
	float: left;
    font-size: 16px;
    margin-right: 7px;
    margin-top: 4px;
}
.about-cont4 .contador li{
	list-style:none;
	float: left;
	display:none;
}
.about-cont4 .contador li:last-child{
	list-style:none;
	float: left;
	display:block;
}

.somos-txt {
    border-bottom: 2px solid #87B425;
    border-top: 2px solid #87B425;
    color: #363635;
    font-family: 'HelveticaLT';
    font-size: 14px;
    height: 73px;
    line-height: 18px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 17px;
    text-align: center;
}
.cont-about-nav2{
	
}
.about-nav2{
	
}
.about-menu2{
	margin: 0;
    padding: 0;
    width: 1100px;
}
.tit-bot{
	background-color: #F6F6F6;
    color: #CCCCCC;
    font-family: 'Montserrat';
    height: 35px;
    padding-top: 15px;
    text-align: center;
}
.img-bot{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor:pointer;
}
.about-menu2 ul{
	margin: 0;
    padding: 0;
    width: 1100px;
}
.about-menu2 li{
	float: left;
    margin-left: 24px;
}

.about-bot-1{
    background-position: 0 0;
    background-repeat: no-repeat;
}
.about-txt1 #contenu ul{
	margin:0;
	padding:0;
	text-align: left;
}
.about-txt1 #contenu ul b{
    color:#87B425;
}
.about-txt1 #contenu li{
	margin-bottom:15px;
}
#debug{
	display:none !important;
}
#contenu{
}
.ventajas-txt{
	display:none;
}
.about-cont4 .ventajas-txt{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
}
.ventajas-txt div{
	position: absolute;
}
.contador .ventajas-txt{
	display:none;
}
contenedor-about1 .ventajas-txt{
	display:none !important;
}

.img-responsabilidad {
    border: 13px solid #EDEDED;
    margin-bottom: 60px;
    position: relative;
}
.contacto-left{
	float: left;
    margin-right: 32px;
    width: 999px;
}
.volver {
    background-image: url("../imagenes/bot-volver.png");
    background-position: -3px 2px;
    background-repeat: no-repeat;
    color: #87B425;
    float: right;
    font-family: 'FuturaBT';
    font-size: 11px;
    height: 13px;
    margin-top: 16px;
    padding-bottom: 2px;
    padding-left: 20px;
    width: 51px;
}
.titulo-tipo{
	width: 100%;
	background-color: #FFFFFF;
    width: 100%;
}
.tit-tipo{
    background-color: #F6F6F6;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 120px;
    margin: 0 auto;
    padding-right: 60px;
    padding-top: 0;
    width: 940px;
}
.img-tipo{
	float: left;
    padding: 10px;
}
.rot-tit-tipo{
	color: #87B425;
    font-family: 'Montserrat';
    font-size: 50px;
    margin-left: -4px;
    margin-top: -15px;
}

.rot-tipo {
    color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
}

/*-- REGISTRO__*/

.contendor-registro1{
	background-color:#fff;
}
.contendor-registro2{
	background-color:#F6F6F6;
	border-top: 1px solid #F1F1F1;
}
.cont-registro{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contendor-registro-form{
	background-color: #F6F6F6;
    border-top: 1px solid #F1F1F1;
}
.cont-registro-form{
    float: left;
margin: 0 auto;
width: 1020px;
}
.registro-tit{
	border-bottom: 1px solid #E1E1E1;
    color: #061608;
    font-family: 'Montserrat';
    font-size: 25px;
    height: 44px;
    margin-bottom: 25px;
    padding-top: 42px;
}

.registro-sub-tit{
	border-bottom: 1px solid #E1E1E1;
	border-bottom-style:dashed;
    color: #87B425;
    font-family: 'Montserrat';
    font-size: 22px;
    height: 38px;
    margin-bottom: 25px;
}
.cont-registro-form span{
	color: #87B425;
    font-family: 'Montserrat';
    font-size: 18px;
}
.cont-registro-form input{
	background-image: url("../imagenes/fondo-form.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 33px;
    margin-bottom: 10px;
    margin-right: 9px;
    padding-left: 10px;
    width: 465px;
}
.cont-registro-form .pais{
	margin-right: 6px;
    width: 216px !important;
}

.cont-registro-form .ciudad{
	width: 216px !important;
}
.cont-registro-form .campos-cortos{
	
}
.cont-registro-form .n-pais{
	float: left;
    margin-right: 5px;
}
.cont-registro-form .n-ciudad{

}
.cont-registro-form textarea{
	background-image: url("../imagenes/fondo-coment.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 101px;
    padding-left: 10px;
    padding-top: 10px;
    width: 460px;
}
.cont-registro-form .comentarios{
	
}
.cont-registro-form .formulario-iz{
	float: left;
    margin-right: 0;
}
.registro-formulario-iz{
	float: left;
margin-right: 47px;
}
.registro-formulario-de{
	float:left;
}
.enviar2{
	background-image: url("../imagenes/bot-enviar.png") !important;
    float: right;
    height: 45px !important;
    margin-bottom: 0 !important;
    margin-top: 21px;
    padding: 0 !important;
    width: 132px !important;
}
.reg-descarga{
	float: right;
    font-size: 12px;
    margin-top: 10px;
    width: 520px;
}
.reg-txt{
	
}
.reg-bot{
    background-color: #13491E;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: -25px;
    padding: 10px;
    text-align: center;
}
.cont-registro #msdrpdd20_msdd{
	width:400px !important;
}

.cont-registro .dd .ddTitle {
   background-image: url("../imagenes/fondo-form.png");
    background-repeat: repeat;
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 464px;
}
.cont-registro .selectBox {
    float: left;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 19px;
    padding: 0;
    width: 277px;
}
.cont-registro .campo-cargo{
	display:none;
}
.cont-registro  #msdrpdd20_child{
	border: 1px solid #F1F1F1;
    width: 422px !important;
	background-color: #F6F6F6;
}
.cont-registro  .dd .ddTitle span.ddTitleText {
    line-height: 35px;
    overflow: hidden;
    text-indent: 1px;
	color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
}
.registro-formulario-bot{
	height: 60px;
    margin-top: 10px;
    width: 1000px;
}

.registro-formulario-bot .dd .ddTitle {
   background-image: url("../imagenes/fondo-form.png");
    background-repeat: repeat;
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 265px;
}
.registro-formulario-bot ul{
	margin:0;
	padding:0;
}
.registro-formulario-bot li{
	float: left;
}

.registro-formulario-bot input {
    background-image: url("../imagenes/fondo-form.png");
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 33px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 1px;
    padding-left: 10px;
    width: 464px;
}
.span-largo{
	color: #87B425;
    float: right;
    font-family: 'Montserrat';
    font-size: 12px !important;
    text-align: right;
    width: 1000px;
}
.carga{
	float: right;
    margin-right: 5px;
    margin-top: 10px;
}

.carga-bot {
    background-color: #13491E;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    margin-left: -67px;
    margin-top: 182px;
    padding: 10px;
    position: absolute;
    text-align: center;
}
.terminos{
	float: left;
}

.span-largo2 {
    color: #87B425;
    float: left;
    font-family: 'Montserrat';
    font-size: 12px !important;
    margin-top: 2px;
    text-align: right;
    width: 217px;
}
.check-term{
	float: right;
    margin-top: 40px;
    padding-left: 740px;
    width: 239px;
}
.explicación{
	color: #666666;
    font-family: 'HelveticaLT';
    font-size: 13px;
    margin: 14px 0 20px;
    text-align: justify;
}
#img-about{
	border: 13px solid #EDEDED;
    margin-bottom: 30px;
    margin-top: 30px;
}
#container2{
	padding-top: 30px;
}
.intra{
	background-image: url("../imagenes/intranet.png");
    background-position: left 0;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 16px;
    margin-top: 0;
    padding-left: 32px;
    padding-top: 3px;
    width: 172px;
}

.intra-list{
	border-top: 1px solid #FFFFFF;
    height: 24px !important;
    margin-top: 45px;
}
.intra-list:hover{
	color:#87b425;
	border-top: 1px solid #87b425;
	border-bottom: 1px solid #87b425;
	
}

.prodContentWrapper2 #scrollbar{
}
.prodContentWrapper2 .textBox{
}
.loginWrapper #select88{
	padding-left: 0;
}

.loginWrapper .dd .ddTitle {
    background-image: url("../imagenes/fondo-form.png");
    background-repeat: repeat;
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    color: #3F3F3F;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 456px;
}


.categorias-slide{
	float: left;
    height: 152px;
    position: relative;
    width: 1000px;
}
.categorias-mini{
	float: left;
}
.categorias-mini-tit{
	color: #87B425;
    font-family: 'FuturaBT';
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 12px;
}
.categorias-m-img{
	cursor: pointer;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    width: 230px;
}
.categorias-mini-info{
	float: left;
    line-height: 17px;
    width: 190px;
}
.categorias-mini-fecha{
	font-family: 'FuturaBT';
    font-size: 15px;
	color:#706F6F;
}
.categorias-mini-txt{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
    text-align: justify;
}
.cont-otras-categorias .bot-prev{
	margin-right: 25px;
    margin-top: 50px;
}
.cont-otras-categorias .bot-next{
	margin-top:50px;
	margin-left: 35px;
}
.categorias-slide ul{
	height: 92px;
    margin: 0 0 0 -40px;
    padding-left: 49px;
    width: 10000px;;
}
.categorias-slide li{
	width: 251px;
}
.categorias-slide li:first-child{
	
}
.categorias-slide li:last-child{
	margin-right: 0;
}
.contendor-otras-categorias{
	background-color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;
}
.cont-otras-categorias{
	margin: 0 auto;
    width: 1149px;
}
.contendor-otras-categorias .slide-cont {
     border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    float: left;
    margin-left: 11px;
    overflow: hidden;
    padding-top: 12px;
    position: relative;
    width: 1000px;
}
.dd .ddChild a span{
    color: #000000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 2px 0 2px 10px;
    text-decoration: none;
    white-space: nowrap;
	font-size: 14px;
}
.desc-subasta{
	color: #363635;
    font-family: 'HelveticaLT';
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 20px 27px;
    padding-top: 40px;
    text-align: justify;
    width: 430px;
}
.sellos{
	margin: 20px auto 0;
    width: 290px;
}
.sello{
	float: left;
    margin-left: 19px;
}
.somos-txt2 {
    border-bottom: 2px solid #87B425;
    border-top: 2px solid #87B425;
    color: #363635;
    font-family: 'HelveticaLT';
    font-size: 14px;
    height: 173px;
    line-height: 18px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 17px;
    text-align: center;
}
.variedad-tit {
    color: #061608;
    font-family: 'Montserrat';
    font-size: 16px;
    height: 44px;
    margin: -60px auto 75px;
    width: 1000px;
}

.tituloWrapper .selectBox {
    float: left;
    height: 35px;
    padding-left: 40px;
    width: 205px;
}
.cat-roll{
    height: 140px;
    margin-left: -10px;
    margin-top: -10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 239px;
	cursor:pointer;
	}
.cat-roll:hover{
	background-color: #F1F1F1;
   
	}
.datos-contacto{
	 background-color: #FFFFFF;
}
.cont-datos-contacto{
	margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding-bottom: 50px;
    padding-top: 0;
}
.dato-contacto{
	float: left;
    font-family: 'Montserrat';
    margin-right: 33px;
    text-align: center;
    width: 300px;
}
.contacto-pais{
	color: #E3D604;
    font-size: 27px;
    margin-bottom: 6px;
}
.dato-contacto-txt{
	color: #000;
    font-size: 17px;
}