@charset "UTF-8";
/* CSS Document */
input[type=submit]:hover, input[type=button]:hover { cursor:pointer}

.tituloWrapper { width:100%; background:#FFFFFF; padding:37px 0 20px 0 }
.tituloMain { width:1000px; height:30px; margin:0 auto; font-family: 'Montserrat', Arial; font-size:22px; color:#124A1D; font-weight:bold; border-bottom:1px solid #E1E1E1;}

.prodContentWrapper { width: 100%; background:#030A03;}
.prodBox { width:1000px; margin:0 auto; padding-bottom:50px;}
.prodItem { width:330px; height:390px; float:left; border-right:1px dashed #434a43;font-family: 'Montserrat', Arial; position:relative; border-bottom:1px solid #434a43;}
.prodItem img { margin:35px 25px; margin-bottom:0}
.prodItem .prodName { width:280px; text-align:center; color:#fff; font-size:25px; margin:10px 25px; margin-bottom:0}
.prodItem .prodNum { width:280px; text-align:center; color:#fff; font-size:15px; margin:15px 25px; margin-bottom:0;
filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;}
.prodItem .line { width:100%; height:4px; background:#87b425; position:absolute; bottom:0;
filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0; }

.filtroWrapper { width:100%; background:#F6F6F6; padding:37px 0 50px 0}
.filterBox { width:1000px; height:35px;  margin:0 auto; background:#F0EFEC; padding:40px 0; margin-top:20px; }
.selectBox { width:290px; height:35px; padding-left:40px; float:left}

.detalleBox { width:1000px; margin:0 auto; background:#030A03; margin-bottom:60px;  font-family: 'Montserrat', Arial; font-weight:normal}
.detalleLeftBox { width:440px; float:left; margin:20px; margin-right:0px;} 
.detalleRightBox { width:460px; float:left; margin:20px } 
.nombre { color:#87B425; font-size:38px; }
.especificaciones { border-bottom:1px solid #fff; padding:10px 0; margin-bottom:20px;}
.textoBoxScroll { font-size:12px; width:100%; height:230px;overflow:hidden; overflow-y:scroll;}
.textBox { width:100%; height:auto}

.botonesBox { width:100%; margin:20px 0;}
.compartirBtn {width:105px; height:30px; display:block; background:url(../imagenes/compartirBtn.png); font-size:11px; color:#87B425; line-height:30px; text-indent:8px; float:left; margin-right:25px; }
.agregarBtn {width:160px; height:30px; display:block; background:url(../imagenes/agregarCotizacionBtn.png); font-size:11px; color:#87B425; line-height:30px; text-indent:8px; float:left }
.compartirBtn:hover , .agregarBtn:hover { background-position:0 -30px; color:#fff }

.galeriaThumbsBox { width:100%; height:95px; clear:both; margin-top:40px}
.arrowLeft { width:37px; height:37px; background:url(../imagenes/galeria_arrow_left.png) no-repeat; float:left; margin-top:30px;}
.arrowRight {width:37px; height:37px; background:url(../imagenes/galeria_arrow_right.png) no-repeat; float:left; margin-top:30px;}
.arrowLeft:hover, .arrowRight:hover { cursor:pointer; background-position:0 -37px;} 
.thumbsContainer { width:341px; height:95px; float:left; overflow:hidden; margin:0 10px; position:relative;}
.thumbsBox { width:100px; height:95px; position:relative; top:0; left:0;}
.thumbsBox img { margin-right:7px; float:left} 
.thumbsBox img:hover { cursor:pointer}

.galeriaBigImages { width:460px; height:530px; position:relative}
.galeriaBigImages img { position:absolute; top:0; left:0;}

/*SUBASTAS */

.subastaMainWrapper { width:1000px; margin:0 auto;  margin-bottom:60px;  font-family: 'Montserrat', Arial; font-weight:normal}
.subastaLeft { width:490px; height:240px; float:left }
.subastaLeft img { border:15px solid #F6F6F6}
.subastaRight {width:490px; height:240px; float:left; margin-left:20px; }
.subastaMainWrapper .titulo { color:#87B425; font-family: 'FuturaBT', Arial; font-size:32px;}
.subastaMainWrapper .texto { font-family: 'HelveticaLT'; color:#061608; font-size:13px; }
.subastaMainWrapper .valor { font-family: 'Montserrat', Arial; color:#706F6F; font-size:20px; }
.subastaMainWrapper .time { background:#87B425; width:55px; height:30px; display:inline-block; margin-right:10px; text-align:center; line-height:30px;}
.subastaMainWrapper .ofertar { background:url(../imagenes/checkIcon.png) left no-repeat #13491E; display:inline-block; padding:5px 20px 5px 45px; font-size:24px; font-weight:bold; margin-top:15px;}

.subastaMainWrapper .tituloFin { color:#87B425; font-family: 'FuturaBT', Arial; font-size:16px;}
.subastaMainWrapper .valorFin { font-family: 'Montserrat', Arial; color:#706F6F; font-size:14px; }
.subastaMainWrapper .vendido { width:39px; height:94px; background:url(../imagenes/vendido-flag.png); position:absolute; top:0; left:13px;}

.navigationBox { width:300px; margin:0 auto;}
.navInfo { width:80px; float:left; color:#706F6F; text-align:center; margin-top:5px}
.navInfo span { font-size:22px}
.navArrowLeft { width:37px; height:37px; background:url(../imagenes/galeria_arrow_left.png) no-repeat; float:left; }
.navArrowRight {width:37px; height:37px; background:url(../imagenes/galeria_arrow_right.png) no-repeat; float:left;}
.navArrowLeft:hover, .navArrowRight:hover { cursor:pointer; background-position:0 -37px;} 

.otrasSubastasWrapper { width:100%; background:#F6F6F6; padding:37px 0 50px 0;  font-family: 'Montserrat', Arial;}
.otrasSubWrapper { width:1000px; margin:0 auto; margin-top:40px; position:relative}
.otrasSubScrollBox { width:1000px; overflow:hidden; position:relative;  }
.otrasSubBox { width:2000px; height:131px; position:relative; top:0; left:0;}
.subItem { width:500px; float:left}
.subItemFin { width:500px; float:left; margin-bottom:40px;}
.subItemLeft { width:241px; height:131px; float:left; margin-right:10px;}
.subItemLeftFin { width:241px; height:131px; float:left; margin-right:10px; position:relative}
.subItemLeftFin img { border:8px solid #EDEDED;}
.subItemLeft img { border:8px solid #fff;}
.subItemRight{width:240px; float:left;}

.otrasSubWrapper .titulo { color:#87B425; font-family: 'FuturaBT', Arial; font-size:17px;}
.otrasSubWrapper .texto { font-family: 'HelveticaLT'; color:#061608; font-size:13px; }
.otrasSubWrapper .valor { font-family: 'Montserrat', Arial; color:#706F6F; font-size:14px; }
.otrasSubWrapper .time { background:#87B425; width:45px; height:25px; display:inline-block; margin-right:10px; text-align:center; line-height:25px; margin-top:5px;}
.otrasSubWrapper .ofertar { background:url(../imagenes/checkIcon2.png) left no-repeat #13491E; display:inline-block; padding:5px 20px 5px 45px; font-size:21px; font-weight:bold; margin-top:20px;}
.subArrowLeft { width:37px; height:37px; background:url(../imagenes/subasta_arrow_left.png); position:absolute; top:40px; left:-70px;}
.subArrowRitgh { width:37px; height:37px; background:url(../imagenes/subasta_arrow_right.png); position:absolute; top:40px; right:-70px;}
.subArrowRitgh:hover, .subArrowLeft:hover { cursor:pointer; background-position:0 -37px;}

.otrasSubastasBtnBox { width:1000px; height:23px; clear:both; margin:0 auto; margin-top:67px;}
.otrasSubastasBtn { width:160px; height:23px; margin:0 auto; background:url(../imagenes/ver_mas_subastas.png); display:block; font-size:11px; line-height:23px; text-indent:22px;}

.subFinContent { width:1000px; height:350px; overflow:hidden; position:relative}
.subFinScroll { width:2000px; position:relative; top:0; left:0; }
.subFinBox4 { width:1000px; height:350px; float:left;}

/*CARRITO */
.carritoBox { width:1000px; margin:0 auto; background:#030A03; margin-bottom:40px;}
.carritoLeft { width:700px; float:left;}
.carritoRight { width:300px; background:#323A39; float:left;}
.carritoLeft .titulo { width:442px; margin-left:258px; margin-top:35px; height:25px; border-bottom:1px solid #fff; font-family: 'Montserrat', Arial;}
.carritoRight .titulo { width:280px; padding-left:20px; margin-top:35px; height:25px; border-bottom:1px solid #fff; font-family: 'Montserrat', Arial;}
.itemCarrito { width:1000px; height:140px; border-bottom:1px dotted #fff; font-family: 'Montserrat', Arial; }
.itemCarrito .borrarItem { width:28px; height:28px; background:url(../imagenes/equisBtn.png); display:block; float:left; margin:45px 30px;}
.itemCarrito .borrarItem:hover { background-position:0 -28px;}
.itemCarrito img {float:left;padding:20px 0;}
.itemCarrito .text { width:402px; float:left;padding:20px 40px; font-size:11px;}
.stepperWrapper { width:300px; height:100px; background:#323A39; float:left;padding:20px 0;}

.stepperBox { width:110px; height:35px; margin:20px auto; }
.stepperBox .fieldBox { width:67px; height:35px; background:url(../imagenes/stepper_field.png); float:left;}
.stepperBox input { width:60px; height:35px; background:none; border:none; text-align:center; font-size:20px; color:#000000}
.stepperBox .arrowsBox { width:43px; height:35px; float:left}
.stepperBox .arrowUp { width:43px; height:18px; background:url(../imagenes/stepper_arrow_up.png)}
.stepperBox .arrowDown { width:43px; height:17px; background:url(../imagenes/stepper_arrow_down.png)}
.carritoBtnHolder { width:1000px; margin:0 auto; height:50px;}
.enviar-pedido { width:225px; height:42px; background:url(../imagenes/enviar-pedido.png) no-repeat; border:none; float:right }
.enviar-pedido:hover { background-position:0 -42px; }





.ofertarSubastaInput {background-image: url("../imagenes/fondo-form.png");
border: 1px solid #C6C6C6;
border-radius: 6px 6px 6px 6px;
height: 33px;
margin-top: 30px;
width: 230px;
font-family: 'Montserrat';
font-size: 14px;
padding-left: 10px;
}
.gracias {font-family: 'Montserrat', Arial; text-align:center; color:#87B425; padding-top:30px; font-size:18px;}