/*-------------------------
	Simple reset
--------------------------*/



body {
font-family: Arial;
font-size: 12px;
color: #363636;
}


/*-------------------------
	General Styles
--------------------------*/




a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/



header{
	background:url('../img/background_tile_1.jpg');
	padding:75px;
	position: relative;
}

header:before,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	background:url('../img/blue_line.jpg');
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}




/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	background:url('../img/background_tile_3.jpg');
	
	border-radius:3px;
	position: relative;
	margin:80px auto 90px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
        width:100%;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
    color:orange;
}

#dropbox .message i{
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}

.uibutton.special, .uibutton.special:active {
background-image: url(http://cms.imaginamos.com/images/ui-red.jpg);
background-position: 0 59px;
color: white;
-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}

.widget .header {
height: 40px;
border-bottom: none;
background: white;
background: -moz-linear-gradient(top, white 19%, #EDEDED 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, white), color-stop(100%, #EDEDED));
background: -webkit-linear-gradient(top, white 19%, #EDEDED 100%);
background: -o-linear-gradient(top, white 19%, #EDEDED 100%);
background: -ms-linear-gradient(top, white 19%, #EDEDED 100%);
background: linear-gradient(top, white 19%, #EDEDED 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.widget .header span {
display: block;
font-size: 14px;
font-weight: bold;
padding: 11px 0 0 15px;
float: left;
}

fieldset {
display: block;
-webkit-margin-start: 2px;
-webkit-margin-end: 2px;
-webkit-padding-before: 0.35em;
-webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
border: 2px groove threedface;
border-image: initial;
}

legend {
display: block;
-webkit-padding-start: 2px;
-webkit-padding-end: 2px;
border: none;
border-image: initial;
}

.uibutton {
position: relative;
z-index: 1;
overflow: visible;
display: inline-block;
padding: 5px 12px 6px 12px;
margin: 10px 3px 10px 0;
text-decoration: none;
text-align: center;
cursor: pointer;
outline: none;
border: 1px solid #333;
text-shadow: 0 1px 0 black;
color: white;
background-position: 0 -1px;
background-color: #333;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
-webkit-transition: all .2s ease-out;
-moz-transition: all.2s ease-out;
-o-transition: all .2s ease-out;
transition: all.2s ease-out;
font-weight: bold;
font-size: 11px;
text-transform: capitalize;
margin-top: -1px;
}